<div class="col-3">
    <div class="card h-50">
        <div class="card-header">
            <center>
                <h4>URL Parser </h4>
            </center>
            <p>Takım Bilgilerini kaydetmek için bilgileri giriniz.</p>
        </div>
        <div class="card-body">
            <form asp-action="AddTeam" asp-controller="Admin" method="post">
                <label>
                    Transfermarkt Takıma ait URL adresini giriniz.
                </label>
                <br />
                <input class="form-control" name="URL" />
                <br />
                <label>
                    Takımın Tam Adını Giriniz:
                </label>
                <br />
                <input class="form-control" name="TeamName" />
                <br />
                <center> <button type="submit" class="btn btn-primary">Veritabanına Ekle</button> </center>
                </input>
                <label>@Model</label>
            </form>
            <br />
        </div>
    </div>
</div>