<div class="col-3">
    <div class="card h-50">
        <div class="card-header">
            <center> <h4>Süper Lig Takımları</h4> </center>
            <p>Bilgisini güncellemek istediğiniz takımı seçiniz.</p>
        </div>
        <div class="card-body">
            <center><img src="https://tmssl.akamaized.net/images/logo/header/tr1.png?lm=1639084065" title="Süper Lig" alt="Süper Lig" class=""> </center>
            <select class="form-control">
                <option>
                    Galatasaray
                </option>
            </select>
            <br />
            <center> <submit type="submit" class="btn btn-primary"> Git </submit> </center>
        </div>
    </div>
</div>
<div class="col-3">
    <div class="card h-50">
        <div class="card-header">
            <center> <h4>TFF 1. Lig Takımları</h4> </center>
            <p>Bilgisini güncellemek istediğiniz takımı seçiniz.</p>
        </div>
        <div class="card-body">
            <center> <img src="https://tmssl.akamaized.net/images/logo/header/tr2.png?lm=1642511702" title="1.Lig" alt="1.Lig" class=""> </center>
            <select class="form-control">
                <option>
                    Yeni Malatyaspor
                </option>
            </select>
            <br />
            <center><submit type="submit" class="btn btn-primary"> Git </submit> </center>
        </div>
      
    </div>
</div>