<div class="modal" id="successModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sonuç</h5>
                </div>
            <div class="modal-body">
                <p>Veri başarıyla eklendi</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="successModalCloseButton" class="btn btn-success" data-ds-dismiss="modal">Close</button
            </div>
        </div>
    </div>
</div>
<div class="modal" id="failModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sonuç</h5>
                </div>
            <div class="modal-body">
                <p>Veri eklenemedi</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="failModalCloseButton" class="btn btn-danger" data-ds-dismiss="modal">Close</button
            </div>
        </div>
    </div>
</div>
<script>
    document.querySelector('#successModalCloseButton').addEventListener('click', ()=>{
        $('#successModal').modal('hide');
    })
</script>
<script>   
    document.querySelector('#failModalCloseButton').addEventListener('click', ()=>{
        $('#failModal').modal('hide');
    })
</script>