<div class="col-4">
    <div class="card">
        <div class="card-header">
            <center> <h4>Sezon Bilgileri </h4> </center>
            <p>Sezon bilgilerini çekmek için yılı giriniz.</p>
        </div>
        <div class="card-body">
            <center><img src="https://tmssl.akamaized.net/images/logo/header/tr1.png?lm=1639084065" title="Süper Lig" alt="Süper Lig" class=""> </center>
            <input class="form-control" name="Year" placeholder="Yıl Giriniz" />
        </div>
    </div>
</div>