<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Süper Lig Analiz - Admin Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Admin Paneli Giriş</h2>
        <form asp-action="Index" asp-controller="Admin" method="post">
            <div class="form-group">
                <label for="text">Kullanıcı Adı: </label>
                <input type="text" class="form-control" placeholder="Kullanıcı adını giriniz" name="username">
            </div>
            <div class="form-group">
                <label for="pwd">Şifre: </label>
                <input type="password" class="form-control" placeholder="Şifrenizi giriniz" name="password">
            </div>
            <button type="submit" class="btn btn-success">Giriş</button>
        </form>
    </div>
</body>
</html>
